@font-face {
    font-family: "Manrope Light";
    src: url("font/Manrope-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope Medium";
    src: url("font/Manrope-Medium.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    width: 300px;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.nav-part {
    width: 125px;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    padding: 0 24px;
    margin: 0 24px;
    border-top: 1px solid #586D74;
    cursor: pointer;
    font-family: "Manrope Medium";
}

.nav-part:hover {
    color: #EF3563;
    border-top: 1px solid #EF3563;
}

.active {
    color: #EF3563;
    border-top: 1px solid #EF3563;
}


.description {
    background-image: url("./img/backgroundPhoto1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 595px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.description span {
    display: block;
    width: 62rem;
    font-family: "Manrope Light";
    font-weight: 300;
    font-size: 48px;
    line-height: 66px;
    align-items: center;
    text-align: center;
    color: #ED1D51;
}

.first-section {
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainText {
    font-family: "Manrope Light";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    color: #586D74;
    width: 63rem;
    text-align: center;
}

.mainText span {
    font-family: "Manrope Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 66px;
    color: #ED1D51;
}

h2 {
    font-family: "Manrope Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #586D74;
}

.main-class {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 190px);
    align-items: center;
    grid-column-gap: 276px;
    grid-row-gap: 10em;
}

.services span {
    font-family: "Manrope Light";
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-align: center;

    color: #586D74;

    margin-left: 8px;
}

.services div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.small-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
}


.small-services span {
    font-family: "Manrope Light";
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #586D74;

    margin-left: 8px;
}

.small-services div {
    display: flex;
    align-items: center;
    padding: 0 130px;
}

.clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: 90px;
    grid-row-gap: 10em;
    align-items: center;
    justify-items: center;
}

.clients-logo {
    width: fit-content;
    height: fit-content;
    max-height: 230px;
    max-width: 330px;
}

.clients-logo img {
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.clients-logo img:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}


label{
    font-family: "Manrope Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #586D74;
}

input{
    border:none;
    border-bottom: 1px solid #ED1D51 ;
}

.form-input{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
}

.footer{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-first-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-second-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Manrope Light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #ED1D51;
}

.footer-second-div a,span{
    padding: 5px 0;
}

a{
    text-decoration:none;
    color: inherit;
}

.lang a{
    font-family: "Manrope Light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.lang .active{
    color: #ED1D51;
    border-top: none;
}

.hidden{
    display: none !important;
}

.visible{
    display: block !important;
}